.subscription {
  padding: 64px;
  flex-direction: column;
  background-color: var(--primary-color);
  background-image: url("../../assets/subscribe_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.subscription h2 {
  font-size: 88px;
  font-family: var(--playfair-display);
  line-height: 123px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.subscription p {
  font-size: 18px;
  font-family: var(--plus-jakarta-sans);
  line-height: 36px;
  font-weight: 300;
  margin-top: 36px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.subscription__form {
  min-width: 480px;
  margin-top: 40px;
  padding: 14px 14px 14px 24px;

  display: flex;
  gap: 10px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 46px;
}

.subscription__form input {
  flex: 1;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  outline: none;
}
.subscription__form input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.subscription__form button {
  min-width: 180px;

  font-size: 16px;
  font-family: var(--plus-jakarta-sans);
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding: 20px;
  background-color: var(--black-400);
  border-radius: 46px;
  border: none;
  outline: none;
  cursor: pointer;
}
